<div ng-controller="HomeController">
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
		<div style="background:transparent !important" class="jumbotron">
			<center><h2>WHAT DO YOU WANT TO DO?</h2>
		</div>
        <div class="row">
			<div class="col-xs-6" style="padding:40px">
                <a href="#projects/projectlist"><img src="../images/Find a Project.png" class="img-responsive"></a>
            </div>
            <div class="col-xs-6" style="padding:40px">
                <a href="#projects/project"><img src="../images/Create a Project.png" class="img-responsive"></a>
            </div>
        </div>
		
		<div class="row" style="padding:60px">
                <center><a href="#users"><img src="../images/View Collaborators.png" class="img-responsive" width="20%"></a>
		</div>
        <!-- /.row -->




    </div>
</div>