<div ng-controller="HomeController">
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
		<div style="background:transparent !important" class="jumbotron">
			<center><img src="../images/collabologo1.png">
		</div>
        <div class="row">
            <div class="col-lg-4">
                <a href="#users"><img src="../images/people1.png"></a>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="#projects/projectlist"><img src="../images/projects1.png"></a>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="#action"><img src="../images/Get Started1.png"></a>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->




    </div>
</div>