<div class="row" ng-controller="UserController">
    <h1>{{user.username}}'s Profile</h1>
    <hr/>

    <div class="center-block col-xs-6">
        <form role="form">
            <div class="form-group">
                <label for="name">Display Name:</label>
                <p ng-hide="isOwner">{{user.username}}</p>
                <div>
                    <input ng-show="isOwner" ng-model="user.username" type="text" class="form-control" id="name" placeholder="">
                </div>
            </div>
			
			<div class="form-group">
				<label for="email">Email:</label>
				<p ng-hide="isOwner">{{user.email}}</p>
	            <div>
	                <input ng-show="isOwner" ng-model="user.email" type="text" class="form-control" id="email" placeholder="">
	            </div>
	        </div>

            <!--
			<div class="form-group">
                <label for="skills">Skills:</label>
                <ul ng-hide="isOwner">
                    <li ng-repeat="tag in user.tags">{{tag.text}}</li>
                </ul>
                <div>
                    <tags-input ng-show="isOwner" ng-model="user.tags" placeholder="Add a skill" replace-spaces-with-dashes="true"></tags-input>
                </div>
            </div>
		    -->

		    <div class="form-group">
				<label for="skills">Skills:</label>
				<p ng-hide="isOwner">{{user.skills | joinSkills:', ' }}</p>
				<div ng-show="isOwner" class="checkbox">
					<ul>
	            	<li><input ng-show="isOwner" ng-model="user.skills.writer" type="checkbox"> Writer</input>
					<li><input ng-show="isOwner" ng-model="user.skills.illustrator" type="checkbox"> Illustrator</input>
					<li><input ng-show="isOwner" ng-model="user.skills.webdesigner" type="checkbox"> Web Designer</input>
					<li><input ng-show="isOwner" ng-model="user.skills.photographer" type="checkbox"> Photographer</input>
					<li><input ng-show="isOwner" ng-model="user.skills.editor" type="checkbox"> Editor</input>
					<li><input ng-show="isOwner" ng-model="user.skills.videographer" type="checkbox"> Videographer</input>
				</ul>
				</div>
			</div>

            <div class="form-group">
                <label for="text">About:</label>
                <p ng-hide="isOwner">{{user.text}}</p>
                <div>
                    <textarea ng-show="isOwner" ng-model="user.text" type="text" class="form-control" id="text" placeholder="" rows="10"></textarea>
                </div>
            </div>

            <div class="row">
                <div>
                    <button ng-show="isOwner" ng-click="saveChanges()" class="btn btn-primary pull-right" style="margin-right: 15px">
                        Save Changes
                    </button>
                    <div ng-hide="isOwner" class="pull-right">
                        <message-modal to-user="user"></message-modal>
                    </div>
                </div>
            </div>
        </form>		
    </div>
</div>
