<div class="row" ng-controller="ProjectListController">
    <table class="table table-striper">
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Skills</th>
            <th>Summary</th>
            <th>Link</th>
        </tr>
        </thead>
        <tr ng-repeat="project in projects">
            <td>{{project.projectname}}</td>
            <td>{{project.tags | joinTags:', ' }}</td>
            <td>{{project.text}}</td>
            <td><a href="#projects/project?id={{project._id}}">View</a></td>
        </tr>
    </table>
    <a class="btn btn-primary pull-right" href="#projects/project">Create New Project</a>
</div>