<div class="row" ng-controller="ProjectController">
    <hr/>

    <div class="center-block col-xs-6">
        <form role="form">
            <div class="form-group">
                <label for="name">Project:</label>

                <p ng-hide="project.isEditable">{{project.projectname}}</p>

                <div>
                    <input ng-show="project.isEditable" ng-model="project.projectname" type="text" class="form-control"
                           id="name" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label for="owner">Owner:</label>

                <p>
                    <a href="#/profile/{{ owner._id }}">{{ owner.username }}</a>
                </p>


            </div>

		    <div class="form-group">
				<label for="skills">Skills:</label>
				<p ng-hide="project.isEditable">{{project.skills | joinSkills:', ' }}</p>
				<div ng-show="project.isEditable" class="checkbox">
					<ul>
	            	<li><input ng-show="project.isEditable" ng-model="project.skills.writer" type="checkbox"> Writer</input>
					<li><input ng-show="project.isEditable" ng-model="project.skills.illustrator" type="checkbox"> Illustrator</input>
					<li><input ng-show="project.isEditable" ng-model="project.skills.webdesigner" type="checkbox"> Web Designer</input>
					<li><input ng-show="project.isEditable" ng-model="project.skills.photographer" type="checkbox"> Photographer</input>
					<li><input ng-show="project.isEditable" ng-model="project.skills.editor" type="checkbox"> Editor</input>
					<li><input ng-show="project.isEditable" ng-model="project.skills.videographer" type="checkbox"> Videographer</input>
				</ul>
				</div>
			</div>

            <div class="form-group">
                <label for="text">Summary:</label>

                <p ng-hide="project.isEditable">{{project.text}}</p>

                <div>
                    <textarea ng-show="project.isEditable" ng-model="project.text" type="text" class="form-control"
                              id="text" placeholder="" rows="10"></textarea>
                </div>
            </div>
            <div class="row pull-right">
                <ul class="list-inline">
                    <li>
                        <button ng-show="project.isEditable" ng-click="saveChanges()" class="btn btn-primary"
                                style="margin-right: 15px">
                            Save Changes
                        </button>
                    </li>
                </ul>
            </div>
            
        </form>
    </div>

</div>


